style=kr
mode=c

lineend=linux
#recursive
suffix=.fmt.bak
preserve-date
formatted
#exclude=
#quiet

indent=spaces=4
max-code-length=120
break-after-logical

attach-namespaces
attach-classes
attach-inlines
attach-extern-c
attach-closing-while

indent-classes
#indent-modifiers
indent-switches
indent-cases
indent-namespaces
#indent-after-parens
indent-continuation=2
indent-labels
indent-preproc-block
indent-preproc-define
indent-col1-comments

#min-conditional-indent=0
#max-continuation-indent=40
#max-instatement-indent=120

#break-blocks
#break-blocks=all
pad-oper
pad-comma
#pad-paren
#pad-paren-out
#pad-first-paren-out
#pad-paren-in
#pad-header
unpad-paren
#delete-empty-lines
#fill-empty-lines

align-pointer=type
align-reference=type

break-closing-braces
#break-elseifs
break-one-line-headers
add-braces
#add-one-line-braces
#remove-braces
#break-return-type
#break-return-type-decl
attach-return-type
attach-return-type-decl
#keep-one-line-blocks
#keep-one-line-statements
convert-tabs
#close-templates
#remove-comment-prefix

